* {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.item {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bfbfbf;
  margin: 0;
  transition: ease 0.3s;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  margin-bottom: -1px;
  margin-right: -1px;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
}
.empty p {
  margin: 0;
  color: #999999;
  font-size: 14px;
}
.pic img,.pic svg {
  max-width: 100px;
  max-height: 100px;
}
.item:hover {
  border-color: #0490e0;
  /* background: #f1f1f1; */
  color: #0490e0;
  z-index: 2;
}
.item:hover .pic img,.item:hover .pic svg {
  transform: scale(1.4);
}
.item:hover .operationBackground {
  display: flex;
}
.item .operation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item .operation p{
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999999;
}
.item .operation .operationEdit {
  width: 15px;
  height: 15px;
  background: url(./svg/edit.svg) no-repeat center;
  margin-left: 2px;
  cursor: pointer;
}

.item .operation .operationCopy {
  width: 15px;
  height: 15px;
  background: url(./svg/copy.svg) no-repeat center;
  margin-left: 2px;
  cursor: pointer;
}
.item .operationInput {
  display: none;
  position: absolute;
  width: 100%;
  height: 24px;
  left: 0;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #bfbfbf;
}

.item .operationBackground {
  position: absolute;
  top: -156px;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  display: none;
}

.item .operationBackground span {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid gray;
  margin-right: 10px;
}

.item .operationBackground .operationBackgroundGray {
  background-color: #666666;
  border-color: #666666;
}

.item .operationBackground .operationBackgroundBlack {
  background-color: #333;
  border-color: #333;
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.mask .operation {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
}
.mask .operation span {
  cursor: pointer;
  margin: 0 10px;
}
.bigimg {
  display: flex;
  justify-content: center;
  align-items: center;
}