<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./index.css" />
</head>
<body style="background: #fff;">
  <div id="root"><root></root></div>
  <div id="box"></div>
  <div id="mask" class="mask" data-bg="white">
    <div id="bigimg" class="bigimg"></div>
    <div class="operation">
      <span class="maskBig"><img src="./svg/add.svg" /></span>
      <span class="maskSmall"><img src="./svg/cut.svg" /></span>
      <span class="maskBg"><img src="./svg/bg.svg" /></span>
    </div>
  </div>
  <script src="./index.js"></script>
</body>
</html>